name: Run Telegram Bot

on:
  workflow_dispatch:
  push:
  schedule:
    - cron: "*/15 * * * *"   # перезапускается каждые 15 минут чтобы не падал

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: pip install -r requirements.txt

    - name: Run Bot
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
        CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
      run: python bot.py
